.container{
    display: flex;
    flex-direction:row;/*default-row,column(--reverse)*/
    border: 10px solid black;
    height: 90vh;
    justify-content:baseline;/*flex-start=default,flex-end,center,space-around,:space-between,space-evenly*/
    align-items:baseline;/* flex-end,flex-start,center*/
    flex-wrap:wrap;/*default-nowrap,wrap,wrap-reverse*/
    column-gap:1em;
    row-gap: 1em;

}   

.box{
    width:150px;
  
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 5px;
}
#box1{
   /* font-size: 1em;*/
    background-color: rgb(90, 90, 205);
   /* align-self:self-start;*/
   /*flex-grow: 1*/
}
#box2{
    background-color: rgb(231, 99, 196);
    order:0;/*1end,-1start*/
    /*flex-grow: 3*/
}
#box3{
    background-color: rgb(58, 173, 91);
    /*flex-grow: 2*/
}
#box4{
    background-color: rgb(233, 68, 68);
    /*flex-grow: 7*/
    /*flex-basis:200px;*/
}