.container{
    display: flex;
    flex-direction:row;/*default-row,column(--reverse)*/
    border: 10px solid black;
    height: 90vh;
   /*flex-start=default,flex-end,center,space-around,:space-between,space-evenly*/
    justify-content:baseline;/*flex-start=default,flex-end,center,space-around,:space-between,space-evenly*/
    align-items:flex-end;/* flex-end,flex-start,center*/
    flex-wrap:wrap;/*default-nowrap,wrap,wrap-reverse*/
    column-gap:1em;
    row-gap: 1em;

}   

.box{
    width:150px;
  
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 5px;
}
#box1{
   /* font-size: 1em;*/
    background-color: rgb(90, 90, 205);
   /* align-self:self-start;*/
   /*flex-grow: 1*/
}
#box2{
    background-color: rgb(231, 99, 196);
    order:0;/*1end,-1start*/
    /*flex-grow: 3*/
}
#box3{
    background-color: rgb(58, 173, 91);
    /*flex-grow: 2*/
}
#box4{
    background-color: rgb(233, 68, 68);
    /*flex-grow: 7*/
    /*flex-basis:200px;*/
}
/*Grid*/


.grid-container {
    display: grid;
    background-color: #0e0445;
    padding: 10px;
    /* column-gap: 10px;
    row-gap: 10px;
     height: 500px;
    align-content: baseline;*/
    gap: 10px 10px;
    grid-template-columns: auto auto auto;/* 80px 200px auto 40px*/
    grid-template-rows:auto auto auto ;
    justify-content: baseline;
    /* grid-template-areas: 
    'title title title'
    'main content  content'
    'main conent content'
    'main conent content'
    'footer footer footer';*/
   

  }
  .grid {
    background-color: rgba(229, 228, 234, 0.8);
    border: 1px solid rgba(95, 88, 88, 0.8);
    padding: 20px;
    font-size: 40px;
    text-align: center;
   
  }
  #g1{
   
      grid-column: 1/4;
   /* 
   grid-column-start: 1;
    grid-column-end: span 3;
      grid-area: title;*/
  
  }
  #g2{
      grid-row: 2/ span 5; 
   /*
   grid-row-start: 2;
    grid-row-end: span 4;
     grid-area: main;*/
   
  }
 /* #g3{
    grid-area: content;
  }
  #g4{
      grid-area: content;
    }
    #g5{
        grid-area: content;
    }
    #g6{
      grid-area: content;
    }
    #g7{
        grid-area: content;
      }*/
  #g8{
   grid-area: 2 /2/ span 4/4;
  /*  grid-area: footer;*/
   
  }