h1,p{
    font-size: medium;
}
#pid{
    color: rgb(169, 219, 44);
    text-align: right;
}
.one{
    font-family:'Times New Roman', Times, serif
}
.two{
    font-size: larger;
    background-color: rgb(5, 8, 66);
}

.one.two{
    font-style: italic;
    color:rgb(37, 193, 48);
    background-color: rgb(58, 36, 8);
}
p.dotted{
    border-style: dotted;
    border-width: .3cm;
}
p.dashed {
    border-style: dashed;
    border-width: 2em;
}
p.solid {
    border-style: solid;
    border-width: 3pt;
    border-color:hsl(0,250%,50%)
}
p.double {
    border-style: double;
    border-width:5px;
}
p.groove {
    border-style: groove;
    border-width: thin;
    border-color: blueviolet;
}
p.ridge {
    border-style: ridge;
    border-width: thick;
}
p.inset {
    border-style: inset;
    border-width: medium;
}
p.outset {
    border-style: outset;
}
p.none {
    border-style: none;
}
p.hidden {
    border-style: hidden;
}
p.mix {
    border-style: dotted dashed solid double;
    border-width: thick;
}
p.round{
    border: 2px solid brown;
    border-radius:10px;
    padding:4px;
    margin:20px;
}
h1,p{
    font-size: medium;
}
#pid{
    color: rgb(169, 219, 44);
    text-align: right;
}
.one{
    font-family:'Times New Roman', Times, serif
}
.two{
    font-size: larger;
    background-color: rgb(5, 8, 66);
}

.one.two{
    font-style: italic;
    color:rgb(37, 193, 48);
    background-color: rgb(58, 36, 8);
}
p.dotted{
    outline-style: inset;
    margin:20px;
    border-style: dotted;
    border-width: .3cm;
}
p.dashed {
    border-style: dashed;
    border-width:2px;
    border-color: rgb(205, 4, 131);
    margin:3em;
  outline: thick ridge pink;
}
p.solid {
    border-style: solid;
    border-width:3pt;
    outline-style: dotted;
    outline-width: 5px;
    border-color:hsl(0,250%,50%);
    margin: 2em;
}
p.double {
    border-style: double;
    border-width:5px;
    outline-style: dotted;
    outline-width:auto;
    outline-offset :5px;;
}
p.groove {
    margin-top: 30px;
    border-style: groove;
    border-width :-5px;
    border-color: blueviolet;

}
p.ridge {
    border-style: ridge;
    border-width: thick;
    padding: 25px;
    width:40%;
}
p.inset {
    border-style: inset;
    border-width: medium;
    padding-left: 40px;
}
p.outset {
    border-style: outset;
}
p.none {
    border-style: none;
}
p.hidden {
    border-style: hidden;
}
p.mix {
    border-style: dotted dashed solid double;
    border-width: thick;
}
p.round{
    border: 2px solid brown;
    border-radius:10px;
    padding:4px;
    margin:20px;
}
.box{
    background-color: gray;
    height: 200px;
    width:400px;
    padding: 5px;
    margin: 10px;
    border: 20;
}
.tleft{
    text-align: left;
}
.tleft{
    text-align: right;
}
.tcenter{
    text-align: center;
}
.just{
    border:2px solid black;
    padding: 5px;
    margin: 5px;
    width:10cm;
    height:50;
    text-align:justify;

}
p.last
{
    background-color: none;
    text-align-last: right;
    direction: rtl;
    unicode-bidi:bidi-override;
    
}
.deco1{
    text-decoration-line: overline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-transform: lowercase;
}
.deco2{
    text-decoration-line:underline;
    text-decoration-color: chocolate;
    text-decoration-style: double;
    text-decoration: none;
    text-transform: uppercase;
}
.deco3{

    text-decoration-line: line-through;
    text-decoration-color: chartreuse;
    text-decoration-thickness: 2px;
}
.deco4{
    text-transform: capitalize;
text-decoration-line: overline underline;
text-decoration-style: solid;
text-decoration-thickness: 4px;
}
.spac1{
    text-indent: 20;
    letter-spacing: 2px;
    line-height: 10px;
    word-spacing:10px;
    white-space: nowrap;
}
.spac2{
    
    white-space:normal;
   color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.spac3{
    white-space: pre;
}
.spac4{
    white-space: pre-line;
}
.spac5{
    white-space: pre-wrap;
}
.fam{
    font-family: Arial, Helvetica, sans-serif;
}
.sty{
    font-style: italic;
}
.wei{
    font-style: oblique;
    font-weight: bolder;
}
.var{
    font-variant: small-caps;
}
ul.a{
    list-style-position: inside;
    
}
ul.b{
    list-style-position: outside;
    background-color: rgb(160, 73, 73);
    padding: 10px;
}
ul.b li{
    background: pink;
    color: rgb(168, 54, 54);
    margin-left: 3px;
}
ul.a{
    background-color: rgb(28, 90, 177);
    padding: 5px;
}
ul.a li{
    background: skyblue;
    color: rgb(87, 87, 225);
    margin: 3px;
}
table,th,td{
    border: 3px solid black;
    border-collapse: collapse;
    height: 1cm;
    text-align: center;
    vertical-align:bottom;
}
table
{ width:50%;
}
th,td{
    padding: 2px;
   /* border-bottom: 2px solid;*/
}
tr:hover{
    background-color: rgb(145, 217, 246);
    
}

#inline{
 height: 50px;
}
#inline p{
    background-color: rgb(167, 30, 117);
   padding: 10px;
    display: inline;
}
#inline p span{
    background-color: black;
    padding: 10px;
    color: aliceblue;
}

#block{
    display: block;
}
#list-item{
    height: 50px;
   }
   #list-item p{
       background-color: rgb(167, 30, 117);
      padding: 10px;
       display: inline;
   }
   #list-item p span{
       background-color: black;
       padding: 10px;
       color: aliceblue;
   }
   div.ex1{
    width: 600px;
    border: 2px solid rgb(142, 30, 30);
    margin: 10;
}
div.ex2{
    max-width: 600px;
    border: 2px solid rgb(151, 29, 29);
    margin: 10;
}
.overflowex{
    height: 200px;
    width: 300px;
    background-color: brown;
    border: 2px solid purple;
    overflow:scroll;
}
img{
    float: left;
}
#floatex{
    border: 3px solid black;
    clearf
}
.div1{
    border: 3px solid #821a1a;
    float: left;
    padding: 10px;
}
.div2{
    border: 3px solid black;
    padding: 10px;
}
.div1{
    border: 3px solid #821a1a;
    float: left;
    padding: 10px;
}
.div2{
    border: 3px solid black;
    padding: 10px;
    clear:left;
}
span.a{
    display: inline;
    border:2px solid black;
    background-color: aqua;
    height: 10px;
    width: 10px;
    padding:2px;
    margin:5px
}
span.b{
    display: inline-block;
    border:2px solid black;
    background-color: aqua;
    height: 100px;
    width: 100px;
    padding:2px;
    margin:5px
}
span.c{
    display:block;
    border:2px solid black;
    background-color: aqua;
    height: 100px;
    width: 100px;
    padding:2px;
    margin:5px
}
.allign p{
    margin: auto;
    width:50%;
    padding: 10px;
    border: 2px solid black;
    text-align: right;

}
 img.img1cen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.combo 
{
    border: 2px solid black;
}
.combo+p{
    background-color: rgb(158, 227, 227);
}
.pseudoe p{
    display: none;
    background-color: yellow;
    padding: 10px;
}
div.pseudoe:hover p{
    display: block;
}
div.combo p:first-child i
{
color: #d03030;
}
p.pseudoclass::first-letter{
    font-style: italic;
    font-size: 1.2em;
}
p.pseudoclass::first-line{
    background-color: aqua;
    font-size: medium;
}
p.pseudoclass::selection{
background-color: rgb(199, 237, 116);
}
.fruits li::before{
    content:"✅";
}
#ap::after{
    content:"🍎";
}
#or::after{
    content:"🍊";
}